body{
    background:rgb(0, 0, 0);
}

table{
    
    color:white;
    position:relative;
    font-size:20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width:100%;

}



th,td{
    position:relative;
    padding-left:15px;
    text-align: left;
    height:50px;
    margin: 5px;
    border:1px solid black;
    
}

th:first-child{
    border-left:5px solid rgb(11,11,19);
}

td{
    background:rgb(25, 25, 73);
    background-image:linear-gradient(rgb(25, 25, 73),rgb(10,10,50));
    overflow: hidden;
    
}

td:first-child {
    border-left: 5px solid rgb(10,10,50);
}

th{
    background:rgb(21, 21, 29);
}

img{
    position:relative;  
    height:35px;
    border-radius: 5px;
    margin-left:3px;
    margin-right: 3px;
    float:right;
    right:10px;
}


