body{
    background:rgb(0, 0, 0);
}

table{
    float:left;
    color:white;
    font-size:20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width:100%;
    

}

button{
    background-color: rgb(74, 30, 30);
    color:white;
}

#details{
    position:absolute;
    background:rgb(21, 21, 29);
    border-left:5px solid rgb(11,11,19);
    z-index: 10000;
    visibility: hidden;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:10px;
}

#name_span{
    position:absolute;
}

th,td{
    
    padding-left:15px;
    text-align: left;
    height:50px;
    
    border:1px solid black;
    max-height: 50px;
    overflow: hidden;
}

th:first-child{
    border-left:5px solid rgb(11,11,19);
}

td{
    background:rgb(25, 25, 73);
    overflow: hidden;
    
}

td:first-child {
    border-left: 5px solid rgb(10,10,50);
}

td:hover{
    background:rgb(105, 105, 153);
    border-left:5px solid rgb(85, 85, 112)
}

th{
    background:rgb(21, 21, 29);
}

img{
    position:relative;  
    height:35px;
    border-radius: 5px;
    margin-left:3px;
    margin-right: 3px;
    float:right;
    right:10px;
    transition: all 0.5s ease-out;
    border:1px solid transparent;
}

img:hover{
    transition: all 0.5s ease-out;
    border:1px solid white;
}

#loading{
    position:absolute;
    width:75px;
    left:0;
    height:75px;
}